src/main/mule/sampleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTPListener_config" doc:name="HTTP Listener config" doc:id="d6739047-8ab8-4a5b-8b16-19e5709e4bdb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="10f67ac3-4782-4a34-a0b5-109e523ef9f6" >
		<http:listener doc:name="Listener" doc:id="a996b3a8-9f18-4af2-a5e1-07f4bc749b22" config-ref="HTTPListener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="be3e4035-d743-4d97-b5e3-1852ae454d59" message='#["hello world apisuccess"]'/>
	</flow>
</mule>
